html,
body,
ul,
li,
h1,
h2,
h3 {
	padding: 0;
	margin: 0;
}

body {
	color: #0c0c0c;
	font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul,
li {
	list-style: none;
}

.btn-1 {
	display: inline-block;
	padding: 10px 15px;
	background-color: #03a7d3;
	color: #ffffff;
	border-radius: 5px;
	border: 1px solid #03a7d3;
	transition: all 0.3s;
	cursor: pointer;
}

.btn-1:hover {
	background-color: transparent;
	color: #03a7d3;
}

.btn-2 {
	display: inline-block;
	padding: 10px 15px;
	background-color: #ff4646;
	color: #ffffff;
	border-radius: 5px;
	border: 1px solid #ff4646;
	transition: all 0.3s;
	cursor: pointer;
}

.btn-2:hover {
	background-color: transparent;
	color: #ff4646;
}
